<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cement Strength Prediction</title>
    <style>
    body{
    background:url('static/bg3.webp') no-repeat ;
    margin :0;
    background-size:200%;
    height: 100%;
    padding: 100px 0;
     color:#581845;
        align-items: center;
        justify-content: center;
    }
    .one{
     font-family:Arial, Helvetica, sans-serif;
     line-height: 20px;
     text-align:justify;
    font-size:25px;
    }
    </style>
	
</head>
<body>              
 <span>
		<h1><center><b><strong>Cement Strength Prediction</strong></b></center></h1>
</span>
<div class="one">
	<h3><b><p class="i3"><center>Strength of the cement is {{prediction_text}} MPa</center></b></h3></p>
</div>
	</body>
</html>
